# OpenAI API Configuration
OPENAI_API_KEY=your_openai_api_key_here

# Database Configurations
DATABASE_URL=postgresql://user:password@localhost:5432/insurance_db
ASYNC_DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/insurance_db

# Local Storage Paths
CHROMA_DIR=./app/chroma_db
DOCSTORE_DIR=./app/local_storage_folder
